*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#F6F6F6;

}
body{
    background-color: #111111;
    height: 100vh;
}
.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutImg{
    height:50vh
}
.callAction{
    height: 84vh;
    z-index: 2;
}
.shapeParent{
    position: relative;
}
.shape{
    height: 85vh;
    position:absolute;
    top:-2.9vh;
    right:-0.85vw;
    
    z-index: -1;

}
.seller{
    margin-right: 0;
}
.bgContact{
    background-color: #FFCB74;
    color: black;
}
.footerLogo{
    height: 27vh;
}
.logoHeader{
    height: 23vh;
}
.rotate{
    height: 70vh;
}
.firstPage,.secondPage,.pageFive{
    height: 100vh;
}
.card{
    background-color: transparent !important;
    border-color: #FFFFFF !important;
    border-radius: 0.7rem !important;
}
.menu{
    height: 100vh;
}
.sizes label{
    display: inline-block;
    /* width: 10px; */
    padding: 5px;
    transition: all 0.3s;
    /* border: solid 2px #ccc; */
    border-radius: 5rem;

}
.sizes input[type="radio"]{
display: none;
}
/* .sizes input[type="radio"] :checked + label {
    background:  green;
  } */
  #smallSize:checked+label, #mediumSize:checked+label, #largeSize:checked+label{
      background: #FFCB74 !important;
      color: black;
  }